@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/*** HEADER ***/
.navbar-1 {border-bottom: solid 2px rgb(191, 47, 20); }
.navbar-2 {
    background-image: url(../img/header-texture.png);
    background-repeat: repeat-x;
  .container {
    background-image: url(../img/header-bg.png); height: 93px;
  }
}
.navbar-brand {padding-top: 10px}

/*** FOOTER ***/
.footer {
  border-top: 1px solid #ddd;
  padding: 15px 0px;
  margin-top: 30px;
}
